<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">
        <title>
            Application Process
        </title>
    </head>
    <body>
        <header>
            <p>Application Process</p>
        </header>
        <div class="navigation">
            {% for item in menu_list %}
                    <a href="{{ url_list[menu_list.index(item)] }}">
                        {{ item }}
                    </a>
            {% endfor %}
        </div>
        <footer>&copy by Peter Olle member of
            <img src="/static/beanbaglogo.png" alt="BeanBag">
        </footer>
    </body>
</html>
